env-setup/
gpu-app-collection/
hw_run/
sim_run_*
*.DS_Store*
*.csv
*.csv#
4.2/
gpucomputingsdk_4.2.9_linux.run
util/job_launching/*.txt
gpu-simulator/gpgpu-sim
.vscode/*
extern
gpu-simulator/accel_sim.pyi
compile_commands.json
.cache
.cursorrules
CLAUDE.md
GPGPU-SIM-Introduction.md
perf_study/check-regress-results/*.txt
perf_study/plot/*.html
perf_study/plot/*.md
perf_study/plot/*.txt
perf_study/plot/*.xlsx
*.log
perf_study/check-regress-results/auto_fitting_uarch_para.sh.bak
perf_study/check-regress-results/history/
perf_study/plot-miss-q-ent-128-and-mshr-max-merge-32/
perf_study/plot-miss-q-ent-256-and-mshr-max-merge-32/
perf_study/plot-miss-q-ent-32-and-mshr-max-merge-32/
perf_study/plot-miss-q-ent-384-and-mshr-max-merge-32/
perf_study/plot-miss-q-ent-512-and-mshr-max-merge-32/
perf_study/plot-miss-q-ent-64-and-mshr-max-merge-32/
perf_study/plot-miss-q-entries-32/
gpgpu_inst_stats.txt
gpu-simulator/log_build
perf_study/plot/.~lock.overall_perf_study.xlsx#
perf_study/plot/__pycache__/
perf_study/plot/per-benchmark-per-plot-contains-sub-plots/
perf_study/plot/per-item-plot/fail_cause_benchmark_mosaic.png
perf_study/plot/per-item-plot/geomean/
perf_study/plot/per-item-plot/global_acc_r/
perf_study/plot/per-item-plot/global_acc_w/
perf_study/plot/per-item-plot/ipc/
perf_study/plot/perf_hybrid_rep/
perf_study/plot/perf_study_l2_corr_with_without_mshr/
perf_study/plot/perf_study_with_without_mshr/
perf_study/plot/sample.o
perf_study/plot_max_merge_32/
perf_study/srad_v2_deadlock_diagnosis_2026-02-20.md
perf_study/tmp_patches/
trace.out
